.sosmed-auth-user {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sosmed-auth-user > li {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.sosmed-auth-user > li:not(:last-child) {
    margin-bottom: 0.5rem;
}
.sosmed-auth-user > li > :first-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 100px;
    max-width: 50%;
}
.sosmed-auth-user > li > :first-child::after {
    content: ":";
}
.sosmed-auth-user > li > :not(:last-child) {
    margin-right: 0.25rem;
}
.sosmed-auth-user > li > :last-child {
    text-align: right;
}