.lh-2 {
    line-height: 2;
}

form.remote-submit {
    --bs-submit-bg-rgb: var(--bs-theme-rgb);
    --bs-submit-bg-image: none;
    --bs-submit-text: "Processing";
    
    position: relative;
}

form.remote-submit::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--bs-submit-bg-rgb), 0.75);
    z-index: 9999990;
}

form.remote-submit::after {
    content: var(--bs-submit-text);
    display: inline-block;
    position: absolute;
    background: transparent var(--bs-submit-bg-image) center center;
    background-size: 50%;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    animation: form-submitting 1s infinite;
    z-index: 9999999;
}

form.remote-submit:not(.submitting)::before,
form.remote-submit:not(.submitting)::after {
    display: none;
}

@keyframes form-submitting {
    50% {
        opacity: 1;
        background-size: 70%;
    }
}

div.dataTables_wrapper {
    position: relative;
}

div.dataTables_wrapper div.dataTables_processing {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--bs-white-rgb), 0.1);
    z-index: 10;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 0.9rem;
}

div.dataTables_wrapper .pagination {
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-padding-y: 0.25rem;
    --bs-pagination-font-size: 0.9rem;
    --bs-pagination-border-radius: 0.2rem;
}

.card > .card-body div.dataTables_wrapper div.dataTables_info,
.card > .card-body div.dataTables_wrapper div.dataTables_paginate {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.table-responsive > table.dataTable {
    margin-top: 0 !important;
}
