.welcome-jumbo {
    background-image: var(--bs-welcome-header-image);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    padding: 2rem 1rem;
    min-height: 100vh;
}

.navbar.fixed-top + .welcome-jumbo {
    padding-top: 90px;
}

.welcome-jumbo .welcome-image {
    max-width: 80%;
    height: 120px;
}

.welcome-team-image {
    --team-size: 80px;
    width: var(--team-size);
    height: var(--team-size);
    border-radius: 50%;
}

@media (min-width: 576px) {
    .welcome-team-image.team-sm {
        --team-size-sm: 80px;
        --team-size: var(--team-size-sm);
    }
}

@media (min-width: 768px) {
    .welcome-jumbo .welcome-image {
        height: 160px;
    }

    .welcome-team-image.team-md {
        --team-size-md: 80px;
        --team-size: var(--team-size-md);
    }
}

@media (min-width: 992px) {
    .welcome-team-image.team-lg {
        --team-size-lg: 80px;
        --team-size: var(--team-size-lg);
    }
}

@media (min-width: 1200px) {
    .welcome-jumbo .welcome-image {
        height: 200px;
    }

    .welcome-team-image.team-xl {
        --team-size-xl: 80px;
        --team-size: var(--team-size-xl);
    }
}


