body {
    background-image: var(--bs-login-bg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

.login {
    min-height: 100vh;
}

.login-box form {
    max-width: 100%;
}

@media (min-width: 576px) {
    .login-box form {
        max-width: 80%;
    }
}

