:root {
    --app-theme-1: #008037;
    --app-theme-1-rgb: 0, 128, 55;
    --app-theme-2: #5de264;
    --app-theme-2-rgb: 93, 226, 100;
    --app-theme-3: #0f906c;
    --app-theme-3-rgb: 15, 144, 108;
    --app-theme-4: #ccad00;
    --app-theme-4-rgb: 204, 173, 0;
}

.bg-theme-1 {
    background-color: rgba(var(--app-theme-1-rgb), var(--bs-bg-opacity, 1)) !important;
}

.bg-theme-2 {
    background-color: rgba(var(--app-theme-2-rgb), var(--bs-bg-opacity, 1)) !important;
}

.bg-theme-3 {
    background-color: rgba(var(--app-theme-3-rgb), var(--bs-bg-opacity, 1)) !important;
}

.bg-theme-4 {
    background-color: rgba(var(--app-theme-4-rgb), var(--bs-bg-opacity, 1)) !important;
}

.border-theme-1 {
    border-color: rgba(var(--app-theme-1-rgb), var(--bs-border-opacity, 1)) !important;
}

.border-theme-2 {
    border-color: rgba(var(--app-theme-2-rgb), var(--bs-border-opacity, 1)) !important;
}

.border-theme-3 {
    border-color: rgba(var(--app-theme-3-rgb), var(--bs-border-opacity, 1)) !important;
}

.border-theme-4 {
    border-color: rgba(var(--app-theme-4-rgb), var(--bs-border-opacity, 1)) !important;
}

.text-theme-1 {
    color: rgba(var(--app-theme-1-rgb), var(--bs-text-opacity, 1)) !important;
}

.text-theme-2 {
    color: rgba(var(--app-theme-2-rgb), var(--bs-text-opacity, 1)) !important;
}

.text-theme-3 {
    color: rgba(var(--app-theme-3-rgb), var(--bs-text-opacity, 1)) !important;
}

.text-theme-4 {
    color: rgba(var(--app-theme-4-rgb), var(--bs-text-opacity, 1)) !important;
}