.binary-container {
    display: block;
    width: 100%;
    min-height: 300px;
    overflow-x: auto;
    padding: 1rem;
}

.tree ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
    any siblings*/
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and 
    right connector from last child*/
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li a.node-link {
    border: 1px solid #ccc;
    padding: 5px 0;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: darkgreen;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li a.node-link.node-empty,
.tree li a.node-link.node-placement {
    padding: 5px 10px;
}
.tree li a.node-link.node-empty {
    pointer-events: none;
}

.tree li a.node-link img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a.node-link:hover,
.tree li a.node-link:hover+ul li a {
    background-color: rgba(var(--app-theme-1-rgb), 0.15);
    color: var(--bs-dark);
    border: 1px solid rgba(var(--app-theme-3-rgb), 0.15);
}

.tree li a.node-link:hover img,
.tree li a.node-link:hover+ul li a img {
    filter: contrast(150%);
}

/*Connector styles on hover*/
.tree li a.node-link:hover+ul li::after,
.tree li a.node-link:hover+ul li::before,
.tree li a.node-link:hover+ul::before,
.tree li a.node-link:hover+ul ul::before {
    border-color: var(--app-theme-1);
}

/* style inner content */
.tree li a.node-link .node-header {
    text-align: center;
    padding: 5px 10px;
}
.tree li a.node-link .node-header img {
    height: 30px;
    width: auto;
}
.tree li a.node-link .node-title {
    padding: 0 10px;
}
.tree li a.node-link .node-body {
    padding: 5px 10px 0;
    border-top: 1px solid var(--bs-border-color-translucent);
}
.tree li a.node-link .node-left-right {
    display: flex;
    flex-wrap: nowrap;
}
.tree li a.node-link .node-left-right > * {
    flex-basis: 50%;
    text-align: center;
    white-space: nowrap;
}
